.details__content {
	background-color: #fff;
	height: 100vh;
	border-radius: 20px;
	border: 2px solid #fff;
	display: flex;
	margin: -30px auto;
}
.details__card {
	margin: 50px 20px;
	display: flex;
	border: 1px solid #f3f3f3;
	padding: 30px;
	width: 600px;
	height: 500px;
	border-radius: 40px;
	// margin-right: 30px;
	box-shadow: 0 0 20px rgb(0 0 0 / 10%);
	margin-bottom: 10px;
	&.-containter > div {
		display: flex;
	}
	&.-title {
	}
	&.-img {
	}
	&.-desc {
	}
}

.details__ctn {
	display: flex;
	justify-content: flex-end;
}
.details__favorite {
	margin-right: 10px;
}
.details__button {
	width: 290px;
	height: 160px;
	margin: 80px auto;
	margin-bottom: 10px;
	border: 1px solid #f3f3f3;
	border-radius: 16px;
	box-shadow: 0 0 20px rgb(0 0 0 / 10%);
}
.details__button > p {
	font-size: 28px;
	line-height: 36px;
}
.details__favorite-btn {
	display: flex;
	justify-content: space-between;
	padding: 20px 24px 10px 24px;

	& > div {
		& > p {
			font-size: 28px;
			line-height: 36px;
		}
	}
}

.btn-add {
	width: 100%;
	font-size: 16px;
	line-height: 22px;
	padding: 11px 24px 13px;
	line-height: 1.1;
	border-radius: 10px;
	transition: all 0.4s ease-in-out; 
	background-color: #cb11ab;
	border: 2px solid #cb11ab;
	color: #fff;

	&:hover{
		background-color: #ee36cf;
	}
}
