.details__content {
	background-color: #fff;
	border-radius: 20px;
	border: 2px solid #fff;
	display: flex;
	margin: -30px auto ;
}
.details__card {
	margin: 50px auto ;
	display: flex;
	border: 1px solid #f3f3f3;
	padding: 30px;
	width: 600px;
	border-radius: 40px;
	// margin-right: 30px;
	transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
	margin-bottom: 10px;
	&.content-containter {


	}
	&.-title {
	}
	&.-img {
	}
	&.-desc {
	}
}
.details__basket{
	&-ctn{
		display: flex;
		justify-content: flex-end;
	}
}
.details__name-category{
	display: flex;
	justify-content: space-between;
}